# Compiled source #
.vscode/

# export files #
node_modules/
package-lock.json
package.json

# deployment files #

# Unreleased files #
W4-TA.md
W5-TA.md
W6-TA.md
W7-TA.md
W8-TA.md
W9-TA.md
W10-TA.md

# Resource files #
ICS-Note.md
ICS-Exercise.md