# Compiled source #
.vscode/

# export files #
node_modules/
dist/
package-lock.json
package.json

# deployment files #

# Unreleased files #
Unreleased/

# Resource files #
ICS-Note.md
ICS-Exercise.md
res/mydoc/